@tailwind base;
@tailwind components;
@tailwind utilities;

/* General */
* {
    font-family: "Barlow Semi Condensed";
    color: #162542;
}

p {
    font-weight: 400;
    font-size: 16px;
    color: #7B8BAD;
}

h1 {
    font-weight: 900;
    font-size: 56px;
    text-transform: uppercase;
    line-height: 1em;
}

h2 {
    font-weight: 900;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 1em;
}

h3 {
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1em;
}

span {
    font-weight: 600;
    font-size: 16px;
    color: #7B8BAD;
}

/* Button */
.orange-button {
    background-color:#F16718;
    padding: 0.7em 1.3em;
    color: white;
    border-radius: 8px;
}

.orange-button:hover {
    background-color: #FF9B62;
    cursor: pointer;
}

.blue-button {
    background-color: #E8EFF2;
    padding: 0.7em 1.3em;
    border-radius: 8px;
}

.blue-button:hover {
    background-color: #162542;
    color: white;
    cursor: pointer;
}

/* Main */
.main-image {
    gap: 1.5rem;
    justify-content: flex-end;
    margin-right: -10rem;
}

#key-img {
    background-image: url(../assets/desktop/image-keyboard.jpg);
    height: 25em;
    width: 38em;
}

.second-image {
    margin-left: -10rem;
}

.main-square {
    background-color: #E8EFF2;
    width: 10em;
    height: 10em;
    border-radius: 0.75rem;
}

.overlay {
    background-color: #F16718;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.7;
    z-index: 1;
    filter: saturate(2);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: #F16718;
    padding: 20px;
    border-radius: 16px;
}

.detail-box {
    display: flex; 
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

#phone-img {
    background-image: url(../assets/desktop/image-phone-and-keyboard.jpg);
    height: 25em;
    width: 15em;
    background-position: center;
    background-size: cover;
}

#glass-img {
    background-image: url(../assets/desktop/image-glass-and-keyboard.jpg);
    height: 25em;
    width: 30em;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 1190px) {
    .bot-square {
        display: none;
    }
    
    .second-main {
        flex-direction: column;
        align-items: baseline;
        gap: 5rem;
    }

    .second-image {
        margin-left: 0;
        width: 90%;
    }

    .second-description {
        flex-direction: initial;
        width: 100%;
        gap: 9rem;
    }

    #phone-img {
        height: 22em;
        width: 15em;
    }
    
    #glass-img {
        height: 22em;
        width: 33em;
    }

    #key-img {
        width: 30em;
    }
}

@media screen and (max-width: 750px) {
    .main-image {
        margin-right: -7em;
    }

    .second-image {
        margin-left: -6em;
    }

    #key-img {
        width: 27em;
        height: 23em;
    }

    #glass-img {
        height: 18em;
        width: 20em;
    }

    #phone-img {
        width: 12em;
        height: 18em;
    }

    .second-description {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }

    .detail-box {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .detail-container {
        padding-top: 4rem;
    }
}